.addItem {
	
}

.addItemTitle {
	font-size: 1.3em;
	margin-top: 40px;
	margin-bottom: 12px;
	text-align: center;
}

.addItemInputField {
	font-size: 1.1em;
	/* display: table; */
	/* margin-left: 39%; */
}

.addItemInputField label{
	display: inline-block;
	/* float: left;
	clear: left;
	text-align: right; */
}

.addItemInputField input{
	display: inline-block;
	/* float: left; */
	margin-left: 1%;
	width: 9em;
}

.addItemButton button {
  background-color: rgb(77, 191, 98);
  border-radius: 6px;
  color: white;
  display: inline-block;
  border: none;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.addItemButton button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(69, 171, 243);
}